table(width='100%')
  caption Summary of today's automation
  thead
    th Job Name
    th Build Id
    th Total
    th Pass
    th Fail
  tbody
    each i in summary
      tr
        -var pass_precent = Math.round(i.pass/i.total*10000)/100
        -var fail_precent = Math.round(i.fail/i.total*10000)/100
        td= i.jobName
        td= i.buildId
        td(class='number')= i.total
        td(class='number')= i.pass
          span (
            = pass_precent
          span %)
        td(class='number')= i.fail
          span (
          = fail_precent
          span %)
